<div>
<br/>
<h2 style="text-align:center;">WORKFLOW COMPLETED</h2>
<br/>
The External Dynamic List, named <i>{{ edl_name }}</i>, was added to
the configuration of the NGFW ({{ TARGET_IP }}). In addition, security policies with the tag <i>{{ tag_name }}</i>
were configured to deny traffic to and from this EDL.
<br/>
<br/>
For a step-by-step tutorial on building workflows, please navigate to the <a href="">Workflow Tutorial</a>
in the SkilletBuilder documentation.
</div>